:root.theme-dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --on-accent-color: #000028;
  --section-title-color: #ff0070;
  --stroke-color: #ff0070;
  --stroke-color-soft: rgba(255, 0, 112, 0.4);
  --cover-image: url("../images/cover-image-dark.png");
}