:root {
  --show-rec: flex;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --heading-color: var(--accent-color);
  --text-color: #f1b2ce;
  --color-title: #db00ff;
  --edge-color: var(--accent-color);
  --color-subtitle: var(--background-color);
  --color-hover-button-menu: rgba(255, 0, 112, 0.4);
  --text-heading-subtitle: var(--accent-color);
  --color-theme: var(--accent-color);
  --text-size: 18px;
  --line-height: 23.4px;
  --text-weight: 400;
  --text-header-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --text-font: "IBM Plex Mono", monospace;
  --font-weight-title: 700;
}
